  
  [dir="rtl"] .text-right-rtl
  {
     text-align: right;
  }
  
[dir="rtl"] .box-inner-img
{
	margin-right: 32%;
}

@media only screen and (max-width:1100px)
{
	[dir="rtl"] .box-inner-img
	{
		 margin-right: 28%;
	}

}

[dir="rtl"] .owl-item
{
	visibility: hidden;
}
[dir="rtl"] .owl-item.active
{
	visibility: visible;
}

[dir="rtl"] .dr-rtl
{
	display: flex;
	flex-direction: row-reverse;
	padding-left: 14px;
}
[dir="rtl"] .dr-rtl img
{
	transform: rotate(180deg);
}
[dir="rtl"] .bd-example
{
	margin-top: -20px;
}

[dir="rtl"] .services-banner-inner-img
{
	right: 50px;
}
[dir="rtl"] .inner-news-page-title h4
{
   text-align: right;
}

[dir="rtl"] .pagination img
{
   transform: rotate(180deg);
}

[dir="rtl"] .read-more span 
{
	padding-left: 0px!important;
}
[dir="rtl"] .fa-calendar-alt
{
	margin-left: 5px;
}

[dir="rtl"] .about-banner-inner-img p
{
	text-align: right;
}
[dir="rtl"] .about-banner-inner-img
{
	right: 50px;
}