/*<-----------------------font family and css for all tags--------------------->*/

/*@font-face { font-family: HelveticaNeue; src: url('../font/HelveticaNeue.otf'); }   
@font-face { font-family: thin; src: url('../font/HelveticaNeue-Thin.otf'); } 
@font-face { font-family: medium; src: url('../font/HelveticaNeue-Medium.otf'); }   
 
*/


  *{
    font-family: 'Poppins', sans-serif;

  }
  body
  {
    overflow-x:hidden;
  } 
  .font-thin
  {
    font-weight:100!important;
  }
 .font-bold
 {
  font-weight: 700!important;
 }
 .font-regular
 {
  font-weight: 400!important;
 }
 .font-regular-500
 {
  font-weight: 500!important;
 }
 .color-black
 {
  color: #000!important;
 }
 .color-white
 {
  color: #fff;
 }
 .color-blue
 {
  color: #3067a1;
 }
 .color-gray
 {
  color: #414141;
 }
 .color-4a
 {
  color: #4a4a4a;
 }
 .color-tf
 {
  color: #637381;
 }
 .fz-10
 {
  font-size: 10px;
 }
 .fz-12
 {
  font-size: 12px!important;
 }
  .fz-13
 {
  font-size: 13px!important;
 }
 .fz-14
 {
  font-size: 14px!important;
 }
 .fz-15
 {
  font-size: 15px!important;
 }
 .fz-16
 {
  font-size: 16px!important;
 }
  .fz-17
 {
  font-size: 17px!important;
 }
   .fz-18
 {
  font-size: 18px!important;
 }
 .fz-20
 {
    font-size:20px!important; 
 }
 .fz-25
 {
  font-size: 25px;
 }
 .mg-0
 {
  margin: 0!important;
 }
 .mg-5
 {
  margin:5px;
 }
  .mg-10
 {
  margin: 10px!important;
 }

  .mg--t-b-20-l-r-10
 {
  margin: 20px 10px;
 }
  .mg-30
 {
  margin: 30px;
 }
  .mg-t-5
 {
  margin-top: 5px;
 }
  .mg-t-5-imp
 {
  margin-top: 5px!important;
 }
 .mg-t-10
 {
  margin-top: 10px;
 }
 .mg-t-10-imp
 {
  margin-top: 10px!important;
 }
 .mg-t-20
 {
  margin-top: 20px;
 }
 .mg-t-30
 {
  margin-top: 30px;
 }
 .mg-t-40
 {
  margin-top: 40px;
 }
  .mg-t-50
 {
  margin-top: 50px;
 }
  .mg-t-70
 {
  margin-top: 70px!important;
 }
 .mg-b-30
 {
  margin-bottom: 30px;
 }

  .mg-b-10
 {
  margin-bottom: 10px;
 }
 .mg-l-10
 {
  margin-left: 10px;
 }
 .mg-t-b-15
 {
  margin-top: 15px;
  margin-bottom: 15px;
 }
  .mg-t-b-10-0
 {
  margin-top: 10px;
  margin-bottom: 0px;
 }
   .mg-t-b-10
 {
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .mr-l-r-24
 {
  margin-left:24px;
  margin-right: 24px;
 }
 .mr-l-r-15
 {
  margin-left:15px;
  margin-right: 15px;
 }
 .pd-0
 {
  padding: 0;
 }
 .pd-5
 {
  padding: 5px;
 }
 .pd-10
 {
  padding: 10px;
 }
  .pd-15
 {
  padding: 15px;
 }

 .pd-20
 {
  padding: 20px;
 }
 .pd-l-10
 {
  padding-left: 10px;
 }
 .pd-l-15
 {
  padding-left: 15px!important;
 }
.pd-r-10
{
  padding-right: 10px;
}
 .op-0-7
 {
  opacity: 0.7;
 }
 
 .pd-25
 {
  padding: 25px;
 }
 .pd-30
 {
  padding: 30px;
 }
 .pd-40
 {
  padding: 40px;
 }
 .pd-b-0
 {
  padding-bottom: 0;
 }
 .pd-r-5
 {
  padding-right: 5px;
 }
 .pd-l-0
 {
  padding-left: 0px;
 }
 .pd-r-15
 {
  padding-right: 15px;
 }
 .pd-l-0
 {
  padding-left: 0!important;
 }
 .pd-l-5
 {
  padding-left: 5px!important;
 }
 .pd-r-0
 {
  padding-right: 0!important;
 }
 .pd-t-0
 {
  padding-top: 0px!important;
 }
 .pd-t-40
 {
  padding-top: 40px;
 }
 .pd-t-b-15
 {
  padding: 15px 0px 15px 0px;
 }
 .bg-black
 {
  background: #000;
 }
 .bg-white
 {
  background: #fff;
 }
 .bg-hsbc
 {
  background-image: linear-gradient(to right, #0f58af, #106ac3, #107cd7, #0f8eeb, #0fa1ff);
 }
 .bl1ss
 {
  border-left:1px solid silver;
 }
 .overflow-hidden
 {
  overflow: hidden;
 }
 .height-215
 {
  height: 215px;
 }
 .flex
 {
  display: flex!important;
 }
 .inline
 {
  display: inline;
 }
 .height-auto
 {
  height: auto!important;
 }
 .block
 {
  display: block;
 }
 .lsn
 {
  list-style: none;
 }
 .text-center
 {
  text-align: center;
 }
 .text-left
 {
  text-align: left;
 }
 .justify-center
 {
  justify-content: center;
 }
 .justify
 {
   text-align: justify;
 }

 .width-100
 {
  width: 100%;
 }

 .pointer
 {
  cursor: pointer;
 }

 .services-section-slider .owl-prev 
 {
  position: absolute;
  left:0;
  top: 40%;
  transform: rotate(180deg);

 }
 .services-section-slider .owl-next
 {
   position: absolute;
  right:0;
  top: 40%;
  opacity: 0.6;
 }

  .testmolials-video .owl-next 
 {
   position: absolute;
  right:10px;
  top: 45%;
 }

  .testmolials-video .owl-prev 
 {
   position: absolute;
  left:10px;
  top: 45%;
 }




.banner-read-more-btn
{
  text-decoration: none!important;
  color: #414141!important;
}
.br1sf-loan{

    border-right: 1px solid #fff;
}

.navbar-text-menu p a:hover
{
   font-weight: bold!important;
   color: #000!important;
}
.wsnw
{
  white-space: nowrap;
}

.wsmobileheader
{
  background: #fff!important;
}
.callusbtn
{
  top: 10px!important;
  font-size: inherit!important;
  padding: .1rem .4rem!important;
  color: #fff!important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.testmolials-video .owl-stage-outer ,.testmolials-video .owl-stage ,.testmolials-video .owl-item ,.testmolials-video .item 
{
  height: 100%;
}
.services-section-slider-2 .item
{
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
 .owl-dot.active span
{
      background-image: linear-gradient(to right, #0f58af, #106ac3, #107cd7, #0f8eeb, #0fa1ff)!important;
      padding: 3px 20px 3px 20px;
}
.owl-dot span
{
  padding: 3px;
  border: solid 1px #0858a8;
  background: none!important;
}
  button:focus
 {
  outline: none!important;
 }

 .owl-theme .owl-dots .owl-dot span {
   transition: all .3s ease!important;
}


.services-section-slider .box-inner-img
{
  top: -25px;
}

.inner-banner .carousel-control-next, .carousel-control-prev
{
  width: 11%!important;
  z-index:0;
}
.banner-inner-img
{
  z-index: 1;
}
.services-section-slider .owl-prev
{
  margin-left: -4%!important;
}  

.services-section-slider .owl-next
{
  margin-right: -4%!important;
}

.a-finish
{
   text-decoration: none!important;
   color: #414141!important;
}
.menu-text-hover:hover
{
  font-weight: 500;
  
}


.nav-text
{
  cursor: pointer;
}



.link-list
{
  border-right: 1px solid silver;
  min-height: 116px;
}
.visibility-hidden
{
   visibility: hidden;
}
.pd-t-15
{
  padding-top: 15px!important;
}

.link-list p
{
  margin: 0;
}
.br-4
{
  border-radius: 4px;
}
.br-none
{
  border-radius: 0!important;
}

::placeholder
{
  font-size: 12px!important;
}
.pd-l-r-24
{
  padding-left: 24px!important;
  padding-right: 24px!important;
}

.pd-l-r-10
{
  padding-left: 10px;
  padding-right: 10px;
}


.about-us-inner-text
{
  border-left: 4px solid transparent;
  border-image: linear-gradient( #ddcc1c , #c58b0c);
  border-image-slice:1;
}
.p92
{
   background-image: linear-gradient(to left, #0fa1ff , #0f6ec7 , #0f58af);
}
.p92-active
{
  background-color: #eff2f6;
}
.click-el p
{
  cursor:pointer;
}

.ab-text-bg
{
  background:#f2f4f7!important;
}

.color-plus
{
  color: #0858a8;
}

.sticky {
      position: fixed;
      top: 54px;
      width: 100%;
      z-index: 1;
      left: 0;
}

.mib4-third img
{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-dialog
{
  max-width: 70%!important;
  top: 20%;
}

.modal-header span
{
  padding: 0.3em;
}
.modal-header span:nth-child(1)
{
  color: #ed0000;
}
.modal-header span:nth-child(2)
{
  color: #417505;
}
.modal-header span:nth-child(3)
{
  color: #0858a8;
}
.modal-header button
{
  background:linear-gradient(#0fa1ff ,#0f6ec7  ,#0f58af );
}
.modal-header button i
{
  color: #fff;
  padding: 0.3em;
  border: 1px solid #fff;
  border-radius: 50%;


}
.close
{
  opacity: 1!important;
}

.car-finance-title
{
  border-image: linear-gradient(#ddcc1c 70%,#c58b0c);
  border-left: 3px solid;
  border-image-slice: 1;
}
.click-el
{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.br-l-about-us-col-lg-2
{
  border: solid 0.5px rgba(151,151,151,0.5);
}

.inner-img-css
{
  padding: 36px 17px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.inner-flex-btn
{
  background-image: linear-gradient(to left,#0fa1ff,#0f6ec7,#0f58af);
  margin:10px;
}

.spc-btn
{
   background-image: linear-gradient(to left,#0fa1ff,#0f6ec7,#0f58af);
   border: none;
   padding: 10px;
   border-radius: 4px;
   margin-left: 10px;
}

.bs-for-new-page{
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.5), 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.hover-on-image-gallery img:hover
{
  opacity: 0.27;
  background-color:#000000;

}