@media only screen and (max-width: 700px) {
 
body
{
	overflow-x: hidden;
}
.services-section-slider .owl-prev

{
  margin-left: -5%!important;
}
.services-section-slider .owl-next
{
  margin-right: -5%!important;
}
.desktop-version
{
	display: none;
}

 .mobile-mgb-10
 {
 	margin-bottom: 10px;
 }
 .services-section-text-mobile
 {
 	margin-bottom: 20px;
 }

 .box-shadow-3-mobile
 { 
 	margin-bottom: 40px!important;
 }
 .carousel-inner iframe
 {
 	height: auto!important;
 	width: 98%!important;
 }
 .testmolials-section
 {
 	padding: 0;
 }


.row-mobile
{
	margin: 0!important;
}


.news-img img
{
	width: 100%;
}

.pd-0-m
{
	padding: 0!important;
}
.mg-0-m
{
	margin: 0!important;
}


.text-align-mobile-center
{
	text-align: center!important;
}



}


@media only screen and (max-width: 599px) and (min-width: 500px) {

.services-section-slider .owl-stage 
{
  margin-left: 17%;
}
.box-inner-img
{
top:-25px!important;
margin-left: -6%!important;
}


}
@media only screen and (max-width: 500px) and (min-width: 400px)
{
  
  .services-section-slider .owl-stage 
{
  margin-left: 6%;
}
.box-inner-img
{
top:-25px!important;
}

}

@media (max-width:1200px) and (min-width:768px) {
.flex-colum-mobile
{
	flex-direction: column;
}


}

@media (max-width:1100px) and (min-width:768px)
{
   .box-shadow-3
   {
   	width: auto!important;
   	height: auto!important;
   }
   .banner-inner-img
   {
   	top: 12%;
   }
}

@media only screen and (min-width: 992px) {


  .visibility-hidden-hover:hover .visibility-hidden
        {
          visibility: visible!important;
         }

}

@media only screen and (max-width: 1039px) {
   
   .box-inner-img
   {
    top: -19%;
   }
    
}

@media only screen and (min-width: 991px) {

   .testmolials-video .owl-dots
   {
    margin-top: 20px;
   }
}


@media only screen and (max-width: 991px) {
    
    .br-l-none-991
    {
      border:none !important;
    } 
    .services-section-slider .box-inner-img
   {
    top: -22%
   }

    .hide-nav
    {
    	display: none;
    }
    .desktop-nav
    {
    	display: block;
    }
    
    .desktop-version
    {
    	display: none;
    }

   .mobile-version
   {
   	display: block!important;
   }
   .flex-on-mobile
   {
   	display: flex;
   }
    .fwom
    {
    	padding: 0;
    }

   .pd-0-on-m
   {
   	padding: 0!important;
   }
   .pd-l-15-991
   {
    padding-left: 15px!important;
   }
   .services-section-img img
   {
    width: 50px!important;
    height: 50px!important;
   }
   .visibility-hidden
   {
    width: 0px!important;
   }
   .mg-t-29-m
   {
    margin-top: 29px;
   }
   
   .mg-t-20-m
   {
    margin-top: 20px;
   }
   .mg-0-992
   {
    margin:0!important;
   }
   .wd-100-992
   {
    width: 100%!important;
    max-width: 100%!important;
   }
   
   .wd-90-992
   {
    width:90%;
   }
   .fz-18-991
   {
    font-size: 18px!important;
   }
   .fz-17-991
   {
    font-size: 17px!important;
   }
   .fz-14-991
   {
    font-size: 14px!important;
   }
   .text-center-991
   {
    text-align: center!important;
   }
    .text-left-991
   {
    text-align:left!important;
   }
   .fz-1-5-rem-991
   {
    font-size: 1.5rem!important;
   }
   .fw-500-991
   {
    font-weight: 500!important;
   }
   .pd-l-25-991
   {
    padding-left: 25px;
   }
   .bg-none-991
   {
    background: none!important;
   }
   .link-list
   {
    border-right: none!important;
   }
   .li-active-btn
   {
     border: none;
     border-radius: 4px;
     font-size: 11px;
     padding: 5px 10px;
   }



}

@media only screen and (min-width: 992px)
{

	 .desktop-nav
    {
    	display: none;
    }
    
     .desktop-version
    {
    	display:block;
    }
    
    .mobile-version
    {
    	display: none!important;
    }

   .flex-on-mobile
   {
   	display: none!important;
   }
   .align-center-on-m
   {
   	text-align: center;
   }



}

@media only screen and (max-width: 991px) and (min-width: 700px) {

  .bd-example .carousel-item iframe
  {
    width: 100%!important;
    height: 100%!important;
  }
   
  
   .news-flex
   {
    display: flex;
   }

   .news-section-mg
   {
    margin: 10px;
   }



  }


  @media only screen and (max-width: 580px) and (min-width:250px)
  {
    
    .hsbc-version
    {
      display: block!important;

    }
    .tab-img
    {
      display: none;
    }


  }

   .hsbc-version
          {
             display: none;
          }

  @media only screen and (max-width: 991px) and (min-width:581px)
  {
    
    .tab-version
    {
      display: none;
    }

    .tab-version-new
    {
      display: block!important;
    }

    .tab-img
    {
      display: block;
    }

    .banner-inner-img
    {
      top: 40px;
      left: 40px;
    }


  }

   .tab-version-new
   {
    display: none;
   }


   .news-tab
   {
    border: 1px solid #999;
    border-radius: 4px;
    
   }

   @media only screen and (max-width: 1220px) and (min-width: 990px){

    .hide-loan-img
    {
      display: none;
    }
    .pd-0-resp
    {
      padding:0;
    }
     .mg-0-resp
     {
      margin: 0!important;
     }

       }



       @media only screen and (max-width: 1016px) and (min-width:992px)
       {
            .navbar ul li h4
             {
               font-size: 13px;
             }
       } 


       @media only screen and (max-width: 576px)
       {
            
           .br1sf-loan
           {
            border-bottom: 1px solid #fff;
            border-right: none;
           }
     


       }

       @media only screen and (max-width: 1092px){
     
            .resp-banner-fz-18
            {
              font-size:18px!important;
            }
            .resp-banner-pd-0
            {
              padding: 0!important;
              padding-right: 10px!important;
            }
             .resp-banner-fz-13
            {
              font-size:13px!important;
            }



       }


        @media only screen and (max-width: 1020px){

             .mg-1020-0
             {
              margin: 0!important;
             }
             .pd-1020-0
             {
              padding: 0!important;
             }

        }


        @media only screen and (max-width: 774px){

         .dn-774
         {
          display: none;
         }



        }
        @media only screen and (max-width: 700px){
           
           .tc-700
           {
            text-align: center;
           }
           .pb-0-700
           {
            padding-bottom: 0;
           }

        }

        @media only screen and (max-width: 685px){
           
           .fz-18-685
           {
            font-size: 18px!important;
           }
           .fz-12-685
           {
            font-size: 12px!important;
           }

        
        }
       
        @media only screen and (min-width:576px) and (max-width: 767px){

            .br-b-1-s-w
           {
            border-bottom: 1px solid rgba(255,255,255,0.2);
           }
             .br-r-1-s-w
           {
            border-right: 1px solid rgba(255,255,255,0.2);
           }
           .pd-t-10-767-576
           {
            padding-top: 10px;
           }
           .mg-t-0-767-576
           {
            margin-top: 0;
           }
           
          
        }

        @media only screen and (max-width:767px){

           .mg-0-767
           {
            margin: 0!important;
           }
           .pd-t-0-767
           {
            padding-top: 0!important;
           }
          

        }  

        @media only screen and (max-width:700px){

          .mg-10-auto-700
          {
            margin: auto!important;
          } 
          .footer-services-section-text img
          {
            width: 30px;
            height: 30px;
          }

          .fz-12-700
          {
            font-size: 12px!important;
          }  
          .fz-10-700
          {
            font-size: 10px!important;
          }       

         }

         @media only screen and (max-width:610px){
          
          .banner-inner-img
          {
            top: 25px;
          }

         }


    @media only screen and (max-width:575px){

      .tc-575
      {
        text-align: center;
       } 
       .fz-15-575
       {
        font-size: 15px!important;
       }
       .fz-13-575
       {
        font-size: 13px!important;
       }
       .fz-11-575
       {
        font-size: 11px!important;
       }
       .fz-9-575
       {
        font-size: 9px!important;
       }

       .mg-0-575
       {
        margin: 0!important;
       } 
        .mg-10p-t-0-575
       {
        margin:0% 10%!important;
       } 
      .pd-t-0-575
      {padding-top: 0!important;

      }
      .pd-0-575
      {
        padding: 0;
      }
      .dib-575
      {
        display: inline-block;
      }
      .wd-50-575
      {
        width: 50%;
      }
      .wd-10-575
      {
        width: 10%;
      }
      .flex-575
      {
        display: flex;
      }
      .news-img-on-pd-15-575
      {
            padding-right: 15px;
            padding-left: 15px;
      }
      .ht-150px-on-575
      {
        height: 150px!important;
      }
        .br-b-1-s-w2
           {
            border-bottom: 1px solid rgba(255,255,255,0.2);
           }
           .pd-25-576
           {
            padding-top: 25px;
           }

            .br-r-1-s-w2
           {
            border-right: 1px solid rgba(255,255,255,0.2);
           }

      }


      @media only screen and (max-width:550px){



        .dn-550
        {
          display: none;
        }
        .fz-10-550
        {
          font-size: 10px;
        }

        }


        @media only screen and (max-width:1111px)
        {
          .mg-0-1111
          {
            margin: 0!important;
          }
          .pd-r-20-1111
          {
            padding-right: 20px!important;
          }
          .mg-b-2p-1111
          {
            margin-bottom: 2%!important;
          }
          .pd-b-0-1111
          {
            padding-bottom: 0px!important;
          }
          .pd-r-0-1111
          {
            padding-right: 0!important;
          }
        }



         @media only screen and (max-width:1150px)
         {

                .news-title
                {
                 padding-right:7px;
                }


         }

         @media only screen and (max-width:811px)
         {
          .services-section-slider  .owl-stage-outer
          {
                min-height: 250px;
          }
          .box-shadow-3-mobile
          {
            min-height: 172px;
          }
         }


         @media only screen and (max-width: 811px) and (min-width:700px)
        {
          .box-inner-img
          {
            margin-left: -11%;
          }
        }
        @media only screen and (max-width:655px){
          .col-sm-3-pd-0
          {
            padding: 0;
          }

        }



    @media only screen and (max-width:500px){



       .services-section-slider .item
           {
              width: 90%;
           }


             }

   @media only screen and (max-width:399px){

       .services-section-slider .item
       {
        margin-left: 5%;
       }
   }

   @media only screen and (min-width:501px) and (max-width: 599px){
          .services-section-slider .owl-item
           {
              margin-right: 0!important;
           }
           .services-section-slider .item
           {
              width: 90%;
           }
}

@media only screen and (max-width:1263px)
{
  .mg-t-11p-1263
  {
    margin-top: 11%!important
  }
}

@media only screen and (max-width:1172px)
{
  .mg-t-0-1172
  {
    margin-top: 0!important;
  }
}

@media only screen and (max-width:968px)
{
   .pd-r-l-b-0-968
   {
    padding: 10px 0px 0px 0px!important;
   }
}

@media only screen and (max-width:888px)
{
  .fz-15-888
  {
    font-size: 15px!important;
  }
}


  @media only screen and (min-width:576px) and (max-width: 768px){
 

    .fz-17-576-768
    {
      font-size: 17px!important;
    }
    .fz-15-576-768
    {
      font-size: 15px!important;
    }
    .pd-r-10p-576-768
    {
      padding-right:10%!important;
    }
    .mg-t-20p-576-768
    {
      margin-top: 15%!important;
    }
    .pd-0-5p-576-768
    {
      padding: 0% 5%!important;
    }



    }
    @media only screen and (max-width:902px)
    {
      .fz-15-902
      {
        font-size: 15px!important;
      }
    }
    @media only screen and (max-width:820px)
    {
      .fz-13-820
      {
         font-size: 13px!important;
      }
      .fz-11-820
      {
        font-size: 11px!important;
      }
    }